h2 {
  margin: 10px 15px;
  text-align: center;
}

.statList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
ul {
  padding: 10px;
  margin: 0;
}
.item {
  width: calc((100% - 15px) / 5);
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  padding: 10px 0;

  /* outline: 1px solid black; */
}
.label {
  padding-bottom: 10px;
}
