.transactionHistory {
  width: 420px;
  padding: 10px;
  margin-left: 10%;
  background-color: #c5d0e6;
  text-align: center;
}
thead {
  background-color: #00bcd5;
  color: #fff;
}
tr {
  width: calc((100% - 15px) / 3);
}
.transactionHistory tbody tr {
  background-color: #ecf1f4;
}

.transactionHistory tbody tr:nth-of-type(2n + 1) {
  background-color: #fff;
}
