.transactionHistory {
  padding: 10px;
  width: 100%;
  text-align: center;
  margin: 10px 0 0 0;
}
thead {
  background-color: #00bcd5;
  color: #fff;
}
tr {
  width: calc((100% - 15px) / 3);
}
.transactionHistory tbody tr {
  background-color: #ecf1f4;
}

.transactionHistory tbody tr:nth-of-type(2n + 1) {
  background-color: #fff;
}
